main{
    width:100%;
    height:80%;
    background-image: url('../img/bg.jpg');
    background-position-x: -900px;
    background-position-y: -500px;
}
.fade_bg{
    position: absolute;
    width:100%;
    height:80%;
    background: var(--blood);
    opacity:0.55;
    z-index:1;
}
main h1{
    position:absolute;
    font-size:10rem;
    color:transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--white);color:transparent;
    transform: rotate(90deg) translateX(32%) translateY(104%);
    z-index:2;
}
.wrap_cards{
    width:100%;
    height:100%;
    overflow-x: scroll;
    overflow-y:hidden;
    /* FIREFOX */
    scrollbar-color: var(--black) transparent;
    scrollbar-width: thin;
    /* /FIREFOX */
    position:relative;
    z-index:3;
}
/* OPERA */
.wrap_cards::-webkit-scrollbar {
    height:8px;
    background: var(--white);
}
.wrap_cards::-webkit-scrollbar-thumb{
    background: var(--black);
}
/* /OPERA */

.heroes_wrap{
    
    margin:5% 0% 0% 20%;
    height:90%;
    white-space: nowrap;
}
.heroes_wrap li{
    width:200px;
    height:450px;

    position:relative;

    list-style: none;
    display: inline-block;
    margin-left:4rem;
    
    background:var(--black);
    
}
.heroes_wrap li:nth-last-child(1){
    margin-right: 5%;
}
.heroes_wrap li{
    transition: 0.3s all;
    border:1px solid transparent;
}
.heroes_wrap li:hover{
    cursor: pointer;
    transform: translateY(20px);
    background:var(--white);
    border:1px solid var(--black);
    box-shadow: 0px 0px 15px var(--black);
}
.heroes_wrap li:hover .hero_class{
    -webkit-text-stroke: 1px var(--black);
    color:transparent;
}
.heroes_wrap li:hover .price_inf{
    border:1px solid var(--black);
    background:var(--white);
}
.heroes_wrap li:hover path{
    fill:var(--black);
}
/* TODO icons white black */
.inf_hero{
    transition: 0.3s transform;
}
.hero_card .inf_hero:hover{
    transform: translateY(-30px) scale(1.1);
}
.hero_card .inf_hero:active p[class='hero_class']{
    color: #000;

}
.hero_card{
    position: relative;
}
.hero_card img{
    max-width:100%;
    height:var(--card-height);
}
.inf_hero p{
    position: absolute;
    transform: rotate(90deg);
}
.hero_card .hero_country{
    width:100%;
    font-family: Normal_Two;
    color:var(--red);
    top:98px;
    left:-68px;
}
.hero_card .hero_class{
    width:var(--card-height);
    height:1px;
    top:232px;
    left:-167px;
    font-size:5rem;
    -webkit-text-stroke: 1px var(--white);
    color:transparent;

}
.price_inf{
    position:absolute;
    z-index:0;
    width:100%;
    height:calc(var(--card-height)*0.1);
    margin: -2.5rem 0 0 1rem;
    background:var(--black);
    border:1px solid var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.price_inf svg{
    width:var(--size-svg-icon);
    height:var(--size-svg-icon);
}
.clickable_{
    transition: 0.15s all;
}
.clickable_:hover{
    background: var(--red);
}
.clickable_:active{
    transform: translateY(5px);
}
path{
    fill:var(--black);
}
.pRL6px{
    padding: 0 6px;
}
.selected_category{
    background:var(--gray-circle);
}