<nav>
    <div class="burger-menu">
        <label class="wrap_lines" for='inv_check_box'>
            <span></span>
            <span></span>
            <span></span>
        </label>
        <input  id='inv_check_box' type="checkbox" >
    </div>
    <ul id = 'NavBar' class = 'navigator'>
        <li><a href="#">Dota 2</a></li>
        <li><a href="#">CS:GO</a></li>
        <li><a href="#">Warface</a></li>
        <li><a href="#">WoT</a></li>
        <li class = 'selected_category pRL6px'><a href="#">Valorant</a></li>
        <li><a href="#">Contact</a></li>
        <li><sub>you </sub><a href="#">Login</a></li>
    </ul>
</nav>